/* Positioning */
#whatslang-container {
  z-index: 9999;
}

/* Styles */
#whatslang-container {
  background-color: #FAFAFA;
  border: 1px rgba(100,100,100,0.3) solid;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  padding: 15px;
  width: 250px;
}